div {
    box-sizing: border-box;
}

.box { 
        width: 50vw;
        height: 10vh;
        padding: 1vw;
        border-left: 1px #eee solid;
        border-right: 1px #eee solid;
        border-bottom: 1px #eee solid;
}
.boxx {
    height: 10vh;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    span {font-weight: 800;}
}

.list {
    .box { @extend .box;
    }
    .box1 {border:none;
        background-color: aqua;}
}

@mixin col($i) {
.col-3{ width:calc((100%/12) * $i); }
}



@mixin row(){
    .row {display: flex;
        flex-direction: row;}
}

// @include col(1);
// @include col(2);
// @include col(4);

// @include col(5);
// @include col(6);
@include col(2);
@include row();



@mixin color($k) {
    background-color : $k;
}

.alert {
.boxx {
    @extend .boxx;

}
.boxx1 {
    @include color(#d11f1f)
}
.boxx2 {
    @include color(#41089e)
}
.boxx3 {
    @include color(#27890f)
}
}

